<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }
    
    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */
    
    .another-file-over-class {
        border: dotted 3px green;
    }
</style>
<a routerLink="../" routerLinkActive="active-link" class="pull-right btn btn-success">Volver</a>
<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h2>Formulario de Producto</h2>

        <div class="col-md-12">
            <label for="Editar">Click para Editar datos</label>
            <input type="checkbox" [(ngModel)]="editarNow">
        </div>
        <form [formGroup]="productsForm" (ngSubmit)="submitForm(productsForm.value, productsForm.valid)">

            <img src={{producto.img}} alt="" class="img-responsive">
            <div class="form-group">
                <label>Tipo de Producto</label>
                <select class="form-control" formControlName="tipoProducto">
                 <option disabled selected value>{{selectOption}}</option>
                <option *ngFor="let item of tipos;" [ngValue]="item.id">{{item.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Ejemplo: 'Reina Pepiada'" [(ngModel)]="producto.nombre" formControlName="nombre" [readonly]="!editarNow">
                <small [hidden]="productsForm.controls.nombre.valid || (productsForm.controls.nombre.pristine && !submitted)" class="text-danger">
            El nombre del producto es requerido (minimo 5 caracteres).
          </small>
                <!--<pre class="margin-20">{{ productsForm.controls.name.errors | json }}</pre>-->
            </div>
            <div class="form-group">
                <label>Descripción</label>
                <input class="form-control" type="text" placeholder="Ejemplo: 'Palta y Pollo'" formControlName="descripcion" [(ngModel)]="producto.descripcion" [readonly]="!editarNow">
                <small [hidden]="productsForm.controls.descripcion.valid || (productsForm.controls.descripcion.pristine && !submitted)" class="text-danger">
            La descripcion del producto es requerido (minimo 5 caracteres).
          </small>
            </div>
            <div class="form-group">
                <label>Ingredientes</label>
                <input class="form-control" type="text" placeholder="Ejemplo: 'Palta, Pollo'" formControlName="ingredientes" [(ngModel)]="producto.ingredientes" [readonly]="!editarNow">
                <small [hidden]="productsForm.controls.ingredientes.valid || (productsForm.controls.ingredientes.pristine && !submitted)" class="text-danger">
            EL campo ingredientes del producto es requerido (minimo 5 caracteres).
          </small>

            </div>
            <div class="form-group">
                <label>Cantidad</label>
                <input class="form-control" type="number" placeholder="Ejemplo: '150'" formControlName="cantidad" [(ngModel)]="producto.cantidad" [readonly]="!editarNow">
                <small [hidden]="productsForm.controls.cantidad.valid || (productsForm.controls.cantidad.pristine && !submitted)" class="text-danger">
            EL campo cantidad del producto es requerido (Solo numeros 0-9).
          </small>
            </div>
            <div class="form-group">
                <label>Precio</label>
                <input class="form-control" type="number" placeholder="Ejemplo: '150'" formControlName="precio" [(ngModel)]="producto.precio" [readonly]="!editarNow">
                <small [hidden]="productsForm.controls.precio.valid || (productsForm.controls.precio.pristine && !submitted)" class="text-danger">
            EL campo precio del producto es requerido (Solo numeros 0-9).
          </small>
            </div>
            <div class="form-group">
                <h3>Elija una Imagen </h3>

                <div ng2FileDrop [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)" [uploader]="uploader" class="well my-drop-zone">
                    Drop zone </div>
                <input type="file" ng2FileSelect [uploader]="uploader" multiple />
            </div>
            <div>
                Queue progress:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td>{{ item.file.size}} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    <!--<div class="col-md-offset-1 col-md-9" *ngIf="!editarNow">
        <h1>{{producto.nombre}}</h1>
        <div class="col-md-12">
            <img src={{producto.img}} alt="" class="img-responsive">
        </div>
        <h3>{{producto.descripcion}}</h3>

    </div>-->
</div>