<a routerLink="./newClient" routerLinkActive="active-link" class="pull-right btn btn-success">Nuevo</a>

<div class="col-sm-8 col-sm-offset-2">
    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th colspan="8">Lista de Personas</th>
            </tr>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>telefono</th>
                <th>Direccion</th>
                <!--<th>Sexo</th>-->
                <th>Pass</th>
                <th>Foto</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes;">
                <td>{{cliente.id}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>
                    {{cliente.calle}} {{cliente.altura}} {{cliente.piso}} {{cliente.depto}}, {{cliente.localidad}}
                </td>
                <!--<td *ngIf="cliente.sexo == 'f'" style="background-color:#ff5e5e">{{cliente.sexo}}</td>
                <td *ngIf="cliente.sexo == 'm'" style="background-color:#71ef6d">{{cliente.sexo}}</td>-->
                <td>{{cliente.pass}}</td>
                <td><img src={{cliente.foto}} alt="" style="width:50px; height:50px;"></td>
                <td><button class="btn btn-warning" (click)="borrar(cliente.id)">Borrar</button></td>
            </tr>
        </tbody>
    </table>
</div>