<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th colspan="8">Pedidos del día</th>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>En Cocina</th>
                    <th>Enviado</th>
                    <th>Entregado</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <ng-container *ngFor="let pedido of pedidos;">
                <tr *ngIf="pedido.cliente != 'undefined'">

                    <td>{{pedido.cliente.nombre}}</td>
                    <td>{{pedido.cliente.calle}} {{pedido.cliente.altura}}</td>
                    <td>{{pedido.cliente.telefono}}</td>
                    <td [ngStyle]="pedido.statusDelivery == '0' ? getDeliveryStatus(pedido.statusDelivery) : ''"> </td>
                    <td [ngStyle]="pedido.statusDelivery == '1' ? getDeliveryStatus(pedido.statusDelivery) : ''"> </td>
                    <td [ngStyle]="pedido.statusDelivery == '2' ? getDeliveryStatus(pedido.statusDelivery) : ''"> </td>
                    <td><button class="btn btn-warning" (click)=onSelect(pedido) data-toggle="modal" data-target="#myModal">Detalles</button></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Pedido numero {{selectedOrder.id}}</h4>
            </div>
            <div class="modal-body">
                <label for="Nombre">Nombre:</label>
                <p>{{selectedOrder.cliente.nombre}}</p>
                <label for="Telefono">Telefono</label>
                <p>{{selectedOrder.cliente.telefono}}</p>
                <label for="Direccion">Direccion:</label>
                <p>{{selectedOrder.cliente.calle}} {{selectedOrder.cliente.altura}} {{selectedOrder.cliente.piso}} {{selectedOrder.cliente.depto}}, {{selectedOrder.cliente.localidad}}</p>
                <table class="table table-bordered table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productos of selectedOrder.productos">
                            <td>{{productos.nombre}}</td>
                            <td>{{productos.cantidad}}</td>
                            <td>{{productos.precio * productos.cantidad}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h4> TOTAL</h4>
                            </td>
                            <td>{{selectedOrder.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Pedido Entregado</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>

</div>