<div class="container">
    <h1>
        Pedidos
    </h1>
    <div class="row">
        <div class="col-sm-4">
            <br>
            <form (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label>Telefono</label>
                    <input class="form-control" type="number" placeholder="Ejemplo: '150'" [(ngModel)]="cliente.telefono" name="telefono">

                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Ejemplo: 'Pepe'" [(ngModel)]="cliente.nombre" name="nombre">
                </div>
                <div class="form-group">
                    <label for="inputCalle" class="control-label">Calle</label>
                    <input placeholder="Direccion" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [(ngModel)]="cliente.calle" [formControl]="destinationOutput">
                </div>
                <div class="col-sm-4 form-group">
                    <label for="inputAltura" class="control-label">Altura</label>
                    <input type="text" class="form-control" id="inputAltura" pattern="^[0-9]{1,}" maxlength="12" placeholder="Altura*" [(ngModel)]="cliente.altura" name="altura">
                    <div class="help-block with-errors">0-99999</div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="inputAltura" class="control-label">Piso</label>
                    <input type="text" class="form-control" id="inputPiso" pattern="^[0-9]{1,}" maxlength="8" placeholder="Piso*" [(ngModel)]="cliente.piso" name="piso">
                    <div class="help-block with-errors">0-999</div>
                </div>
                <div class="col-sm-4 form-group">
                    <label for="inputAltura" class="control-label">Depto</label>
                    <input type="text" class="form-control" id="inputDepto" maxlength="8" placeholder="Depto*" [(ngModel)]="cliente.depto" name="depto">
                    <div class="help-block with-errors">0-9-A-z</div>
                </div>
                <div class="form-group">
                    <label for="inputLocalidad">Localidad</label>
                    <select class="form-control" id="inputLocalidad" placeholder="Localidad*" [(ngModel)]="cliente.localidad" name="localidad">
                        <option value="" disabled selected>Localidad</option>
                        <option>Belgrano</option>
                        <option>Cañitas</option>
                        <option>Colegiales</option>
                        <option>Palermo</option>
                        <option>Villa Crespo</option>
                        </select>
                    <div class="help-block with-errors">Belgrano - Cañitas - Nuñez - Colegiales - Palermo - Villa Crespo</div>
                </div>
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
        </div>
        <div class="col-sm-4">
            <br>
            <br>
            <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <!-- <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="iconurl">
                    <sebm-google-map-info-window>
                        <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>
                </sebm-google-map-marker> -->
                <sebm-google-map-directions [origin]="origin" [destination]="destination">
                    <sebm-google-map-info-window [disableAutoPan]="true">
                        Hi, this is the content of the <strong>info window</strong>
                    </sebm-google-map-info-window>

                </sebm-google-map-directions>
            </sebm-google-map>
        </div>
        <div class="col-sm-4">
            <br>
            <table class="table table-bordered table-condensed table-hover">

                <thead>
                    <tr>
                        <th colspan="3">
                            Clientes Existentes
                        </th>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Pedir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes | searchClientByPhone: 'telefono' : cliente.telefono">
                        <td>
                            {{cliente.nombre}}
                        </td>
                        <td>
                            {{cliente.telefono}}
                        </td>
                        <td>
                            <button (click)=onSelect(cliente) class="btn btn-success" data-toggle="modal" data-target="#myModalCliente">
                                Pedir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="myModalCliente" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content col-sm-12">
            <div class="modal-header col-sm-12">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Pedido</h4>
            </div>
            <div class="modal-body col-sm-12">
                <label for="Nombre">Nombre:</label>
                <p>{{selectedClient.nombre}}</p>
                <label for="Telefono">Telefono</label>
                <p>{{selectedClient.telefono}}</p>
                <label for="Direccion">Direccion:</label>
                <p>{{selectedClient.calle}} {{selectedClient.altura}} {{selectedClient.piso}} {{selectedClient.depto}}, {{selectedClient.localidad}}</p>
                <ng-container *ngIf="status =='nuevo'">
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Arepas de Maiz</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '1'">
                                        <td>{{producto.nombre}}</td>
                                        <td>
                                            <select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Arepas de Trigo</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '2'">
                                        <td>{{producto.nombre}}</td>
                                        <td><select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Empanada</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '3'">
                                        <td>{{producto.nombre}}</td>
                                        <td>
                                            <select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Tequeños</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '4'">
                                        <td>{{producto.nombre}}</td>
                                        <td>
                                            <select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Salsas</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '5'">
                                        <td>{{producto.nombre}}</td>
                                        <td>
                                            <select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <th>Postres</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of productos">
                                    <ng-container *ngIf="producto.id_tipoProducto == '6'">
                                        <td>{{producto.nombre}}</td>
                                        <td>
                                            <select name="singleSelect" [(ngModel)]="producto.cantidad">
                                            <option *ngFor="let item of options" [ngValue]="item">{{item}}</option>
                                        </select>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-container>
            </div>
            <div class="modal-body col-sm-12" *ngIf="status =='pedir'">
                <table class="table table-responsive table-hover table-condensed table-bordered " ng-if="totalCantidad() > 0">
                    <thead>
                        <th class="text-center">Tipo Producto</th>

                        <th class="text-center">Producto</th>
                        <th class="text-center">Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos">
                            <ng-container *ngIf="producto.cantidad > 0">
                                <td *ngIf="producto.id_tipoProducto == '1'">
                                    Arepa de Maiz
                                </td>
                                <td *ngIf="producto.id_tipoProducto == '2'">
                                    Arepa de Trigo
                                </td>
                                <td *ngIf="producto.id_tipoProducto == '3'">
                                    Empanadas
                                </td>
                                <td *ngIf="producto.id_tipoProducto == '4'">
                                    Tequeños
                                </td>
                                <td *ngIf="producto.id_tipoProducto == '5'">
                                    salsa
                                </td>
                                <td *ngIf="producto.id_tipoProducto == '6'">
                                    postre
                                </td>
                                <td>
                                    {{producto.nombre}}
                                </td>
                                <td>
                                    {{producto.cantidad}}
                                </td>
                                <td>
                                    {{producto.precio | currency : 'USD' : true}}
                                </td>
                                <td>
                                    {{producto.precio * producto.cantidad | currency : 'USD' : true}}
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer col-sm-12">
                <h4>Total {{newOrder.totalCompra(productos) | currency: 'USD': '1.2-2'}} </h4>
                <button type="button" class="btn btn-default" *ngIf="newOrder.totalCompra(productos) > 0 && status == 'nuevo'" (click)="status = 'pedir'">Siguiente</button>
                <button class="btn btn-default" *ngIf="status == 'pedir'" (click)="status = 'nuevo'">Volver</button>
                <button class="btn btn-default" *ngIf="status == 'pedir'" data-dismiss="modal" (click)="submitOrder(productos)">Pedir</button>
                <button type="button " class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>