<nav>
    <ul>
        <li><a routerLink="/" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="../products" routerLinkActive="active-link">Productos</a></li>
        <li><a routerLink="../orders" routerLinkActive="active-link">Pedidos</a></li>
        <li><a routerLink="../client" routerLinkActive="active-link">Clientes</a></li>
        <li class="pull-right">
            <p><a [routerLink]="['/login']">Logout</a></p>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>