<section class="home">

</section>
<section class="food">
    <div class="container-fluid">
        <div class="row">
            <div class="pull-left">
                <img src="https://cambur-pinton.com/assets/img/imagenEmpanadas.jpg" alt="" class="img-responsive imgEmpanadas">
            </div>
            <div class="pull-right">
                <img src="https://cambur-pinton.com/assets/img/imagenArepas.jpg" alt="" class="img-responsive imgArepas">
            </div>
            <div class="col-sm-offset-5">
                <img src="https://cambur-pinton.com/assets/img/imagenTequenos.jpg" alt="" class="img-responsive imgArepas">
            </div>
        </div>
    </div>
</section>